@model QuizApplicationMVCDotNetFramework.BO.QuizBO

@{
    ViewBag.Title = "GetQuiz";
}
<link href="~/Content/GetQuiz.css" rel="stylesheet" />
<h2>GetQuiz</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("GetQuiz", "Quiz", FormMethod.Post))
{
<div class="border">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option4)
            </th>
            <th></th>
        </tr>




        @Html.HiddenFor(model => model.Qid)
        <tr>
            <td>
                @Html.DisplayFor(model => model.Qid)
            </td>
            <td>
                @Html.DisplayFor(model => model.Question)
            </td>
            <td>

                @Html.RadioButtonFor(model => model.Option, Model.Option1)
                @Html.DisplayFor(model => model.Option1)
            </td>
            <td>
                @Html.RadioButtonFor(model => model.Option, Model.Option2)
                @Html.DisplayFor(model => model.Option2)
            </td>
            <td>
                @Html.RadioButtonFor(model => model.Option, Model.Option3)
                @Html.DisplayFor(model => model.Option3)
            </td>
            <td>
                @Html.RadioButtonFor(model => model.Option, Model.Option4)
                @Html.DisplayFor(model => model.Option4)
            </td>

        </tr>


    </table>

    @if (Convert.ToInt32(Request.QueryString["Qid"]) > 1 && Convert.ToInt32(Request.QueryString["Qid"]) < 5)
    {

        <div class="button">
            <input type="submit" name="submit" id="previous" value="Previous" />
            <input type="submit" name="submit" id="submit" value="Next" />

        </div>
    }
    else if (Convert.ToInt32(Request.QueryString["Qid"]) == 5)
    {
        <div class="button">
            <input type="submit" name="submit" id="previous" value="Previous" />
            <input type="submit" name="submit" id="submit" value="Submit" />
        </div>
    }
    else
    {
        <input type="submit" name="submit" id="submit" value="Next" />
    }

</div>
   
}

//last page display answers ans marks
//check email id instead of adding multiple users. assign the same user id. 



